<footer>
    <p class="footer-social">
        <img src="{{ "/assets/misc/ig-icon.png" | relative_url }}" alt="Instagram Icon" class="footer-icon"> 
        <a href="https://instagram.com/the.gadfly.news">@the.gadfly.news</a>
    </p>
    <p class="footer-social">
        <img src="{{ "/assets/misc/email.png" | relative_url }}" alt="Email Icon" class="footer-icon"> 
        <a href="mailto:thegadfly.team@proton.me">thegadfly.team@proton.me</a>
    </p>
    <p>© 2026 The Gadfly Team - <a href="https://github.com/matey-0/thegadfly.news">Website is MIT Licensed</a></p>  
    <a href="#top" class="footer-jump"> Jump To Top</a>
</footer>
