<footer>
    <ul class="footer-social-list">
        <li>
            <img src="{{ "/assets/misc/ig-icon.png" | relative_url }}" alt="Instagram" class="footer-icon"> 
            <a href="https://instagram.com/the.gadfly.news">@the.gadfly.news</a>
        </li>
        <li>
            <img src="{{ "/assets/misc/email.png" | relative_url }}" alt="Email" class="footer-icon"> 
            <a href="mailto:thegadfly.team@proton.me">thegadfly.team@proton.me</a>
        </li>
    </ul>
    <p>© 2026 The Gadfly Team - All rights reserved.</p>
    <p><a href="https://github.com/matey-0/thegadfly.news">This Website is Open Source</a></p>        
    <a href="#top" class="footer-jump">Jump To Top</a>
</footer>
