<header>
    <div class="logo-container">
        <a href="/">
            <img src="/assets/wordmarks/SVG/gadfly-cream.svg" alt="The Gadfly Wordmark">
        </a>
    </div>
    <a href="/assets/issues/latest.pdf" class="cta-button">Read The Latest Issue</a>
    <button class="hamburger-menu" aria-label="Toggle navigation menu">
        <img src="/assets/burgers/burger-cream.svg" alt="Menu Icon">
    </button>
    <nav class="main-nav">
        <ul>
            <li><a href="/pages/thegadfly">Read The Gadfly</a></li>
            <li><a href="/pages/aboutauthors">About the Authors</a></li>
            <li><a href="/pages/aoa">Articles of Agreement</a></li>
            <li><a href="/pages/contact">Contact Us</a></li>
        </ul>
    </nav>
</header>

