<header>
    <div class="logo-container">
        <a href="{{ '/' | relative_url }}">
            <img src="{{ '/assets/wordmarks/SVG/gadfly-cream.svg' | relative_url }}" alt="The Gadfly Wordmark">
        </a>
    </div>
    <a href="{{ "/assets/issues/latest.pdf" | relative_url }}" class="cta-button">Read The Latest Issue</a>
    <button class="hamburger-menu" aria-label="Toggle navigation menu">
        <img src="{{ "/assets/burgers/burger-cream.svg" | relative_url }}" alt="Menu Icon">
    </button>
    <nav class="main-nav">
        <ul>
            <li><a href="{{ "/pages/thegadfly" | relative_url }}">Read The Gadfly</a></li>
            <li><a href="{{ "/pages/aboutauthors" | relative_url }}">About the Authors</a></li>
            <li><a href="{{ "/pages/aoa" | relative_url }}">Articles of Agreement</a></li>
            <li><a href="{{ "/pages/contact" | relative_url }}">Contact Us</a></li>
        </ul>
    </nav>
</header>

